@media screen and (max-width:1023px){

}
@media screen and (max-width:991px){

}
@media screen and (max-width:767px){
     .toggle-bt{
        display: flex;
        z-index: 100;
     }
     nav ul {
        display: flex;
        height: 80vh;
        width: 25%;
        position: fixed;
        top: 40px;
        right: 0;
        background-color: #BBB6A3;
        
        align-items: center;
        justify-content: center;
        flex-direction: column;
        opacity: 0;
        transition: 0.5s;
        border-radius: 10px;
        
        
       
     
     }
     nav ul a{
      color: white;
     }
      header nav ul.clicked{
        opacity: 1;
     }
}
@media screen and (max-width:575px){

}
@media screen and (max-width:425px){

}
@media screen and (max-width:375px){
      .grid-web{
         text-align: center;
      }
      .service-bt{
         justify-content: center;
      }
      .heading{
         text-align: center;
      }
}


    
