a{
    text-decoration: none !important;
    display: inline-block;
}

ul{
    list-style: none !important;
    padding: 0;
    margin: 0;

}
.header-cnt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    flex-wrap: wrap;
    width: 100%;
    
}
header{
    position: fixed;
    width: 100%;
    
}

nav ul {
    display: flex;
    gap: 10px 50px;
    flex-wrap: wrap;
}
nav ul :hover{
    color: #FF4D4D;
    
    text-decoration: underline;
    border-radius: 30px;
}
nav ul a{
    color: black;
}
.hair-me-bt{
    background-color: #FF4D4D;
    padding: 5px 10px;
    border-radius: 30px;
    
}
.hair-me-bt a{
    color: black;
    text-align: center;
}
.hair-me-bt :hover{
    color: #FDF7EB;
}
#hero{
    background-image: url('../img/hero-bg.png');
    height: 100vh;
}
.hero-cnt {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h1{
    color: #FF4D4D;
}
.dow-bt{
    background-color: #FF4D4D;
}
.logo :hover{
    color: #FF4D4D;
}
.logo{
    color: #726e5f;
    border: solid 1px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 3px;
}
.logo a i{
    color: #726e5f;
    font-size: x-large;
}
.toggle-bt{
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    display: none;
    
}
.toggle-bt div{
    background: rgb(0, 0, 0);
    width: 25px;
    height: 4px;
    position: relative;
    transition: 0.3s;
    
}
.service-cnt{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}
.service-text{
    background-color: #F0E3D3;
}
.service-cnt1{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding: 100px 0px;
    
}
.line{
    background-color: #FF4D4D;
    width: 100%;
    height: 1px;
}
#about{
    
    background-color: #FDF7EB;
    
    
}
.about-cnt{
    padding: 100px 0px;
}

.about-cnt h4{
    position: relative;
    margin: 0 auto;
    z-index: 1;
    width: max-content;
    bottom: 17px;
    text-align: center;
    color: white;
}

.about-cnt h4::after{
    content: "";
    position: absolute;
    height: 142%;
    width: 120px;
    background: #BBB6A3;
  
    left: -22px;
    top: -4px;
    z-index: -1;
    transform: rotate(-8deg);
    border-radius: 30px;
    
}
.about-cnt p{
    text-align: center;
    max-width: 750px;
    
}
.cv-bt{
    display: flex;
    justify-content: center;
   
}
.p-cnt{
    display: flex;
    justify-content: center;
    padding: 25px;
}
.cv-bt a{
    background-color: #FF4D4D;
    border-radius: 30px;
    color: #ffffff;
    padding: 10px 20px;
}
.education-cnt{
    padding: 60px 0;
}
.education-head{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-bottom: 50px;
}
.ui-ux-cnt{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #FDF7EB ;
    justify-content: center;
    height: 200px;
    gap: 7px;

}
#education{
    background-color: #F0E3D3;
}
#service{
    background-color: #FDF7EB;
}
.service-bt{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.grid-web{
    background-color: #F0E3D3;
    padding: 10px 5px;

}
#skills{
    background-color: #F0E3D3;
}
.heading{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 20px;
}
.service-head{
    max-width: 400px;
}
.ui-ux-cnt i{
    font-size: 30px;
}




/* skils cards */
.skill-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    border-radius: 30px;
    border: solid 1px; 
    border-color: #FDF7EB;
    padding: 20px;
}
.skill-col:hover{
    background-color: #FDF7EB;
}
.skills-heading{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.skills-cnt h3{
      text-align: center;
      padding: 25px 0px;
}
.skills-cnt{
    padding: 100px 0px;
}
.skill-col.figma .count-out {
       background-color: #BBB6A3;
       width: 200px;
       height: 3px;
       border-radius: 15px;
}
.skill-col.figma .count-in{
    background-color: #FF4D4D;
    width: 150px;
    height: 3px;
}
.skill-col.bt .count-out{
    background-color: #BBB6A3;
    width: 200px;
    height: 3px;
    border-radius: 15px;
}
.skill-col.bt .count-in{
    background-color: #FF4D4D;
    width: 130px;
    height: 3px;
}
.skill-col.ps .count-out{
    background-color: #BBB6A3;
    width: 200px;
    height: 3px;
    border-radius: 15px;
}
.skill-col.ps .count-in{
    background-color: #FF4D4D;
    width: 110px;
    height: 3px;
}
.skill-col.js .count-out{
    background-color: #BBB6A3;
    width: 200px;
    height: 3px;
    border-radius: 15px;
}
.skill-col.js .count-in{
    background-color: #FF4D4D;
    width: 100px;
    height: 3px;
}
.skill-col.html .count-out{
    background-color: #BBB6A3;
    width: 200px;
    height: 3px;
    border-radius: 15px;
}
.skill-col.html .count-in{
    background-color: #FF4D4D;
    width: 160px;
    height: 3px;
}
.skill-col.css .count-out{
    background-color: #BBB6A3;
    width: 200px;
    height: 3px;
    border-radius: 15px;
}
.skill-col.css .count-in{
    background-color: #FF4D4D;
    width: 130px;
    height: 3px;
}
.t-cnt{
    display: flex;
    align-items: end;
    gap: 10px;
}
.logo-bg {
    /* padding: 10px; */
    background: #fdf7eb;
    border-radius: 10px;
    width: 70px;
    height: 70px;
    display: grid;
    align-items: center;
    justify-content: center;
}

#portfolio{
    background-color: #fdf7eb;
}
.portfolio-cnt{
    padding: 60px 0px;
}
.pt-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 60px;
}
.work-cnt{
    display: flex;
    gap: 20px;
    background-color: #F0E3D3;
    padding: 10px 15px;
    border-radius: 30px;
}
.work-cnt a{
    color: black;
    font-size: 20px;
    padding: 3px 20px;
    border-radius: 100px;
    
    
}
.work-cnt a:hover{
    background-color: #FF4D4D;
    color: white;
    
    
}
.portfolio-col img{
    width: 100%;
}
.see-all-bt{
    display: flex;
    align-items: center;
    max-width: max-content;
    padding: 5px 15px;
    background-color: #FF4D4D;
    gap: 10px;
    border-radius: 30px;
}
.see-all-bt a{
    color: black;
}
.footer-cnt{
    padding: 60px 0px;
}
.contact-now{
    display: flex;
    flex-direction: column;

}
.footer-social{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.nav-bar a{
    color: black;
}
.contact-now a{
    color: black;
}
.social a{
    color: black;
}
span{
    color: #FF4D4D;
}
.footer-logo a i{
    color: #726e5f;
}
    





